@charset "utf-8";
#code {
    line-height: 20px;
    list-style-position: inside;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
#code {

}
#code {
    background-color: #D0D0D0;
}
#code1 {
}
#code2 {
}
#code3 {
}
#code4 {
}
#code5 {
}
#code6 {
}
