@charset "utf-8";
#heading {
    width: auto;
    background-color: #FFFFFF;
    float: none;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    text-decoration: none;
    line-height: normal;
    font-style: italic;
    text-align: center;
    background-image: url(url);
}
#subheading {
}
#image {
    text-align: center;
}
#songname {
}
#songname {
}
#songname {
}
#songname {
}
#songname {
}
#heading {
}
#code {
}
#code {
}
#code {
}
#code {
}
#code {
}
#video {
}
#table1 {
}
#table2 {
}
#table3 {
}
#table5 {
}
